
@{
    ViewBag.Title = "Index";
}
<h1>Research</h1>
<p>The following links are to working examples we are exploring for use within the project</p>
<ul>
    <li>
        <a href='~/Research/Motioncap'>Motion Capture</a>
    </li>
    <li>
        <a href="~/Research/Trackerjs">Tracker js</a>
    </li>
    <li>
        <a href="~/Research/ObjectTracker">Object Tracker</a>
    </li>
    <li>
        <a href="~/Research/ColorTracker">Colour Tracker</a>
    </li>
    <li>
        <a href="~/Research/ArmTracker">Arm Tracker</a>
    </li>
    <li>
        <a href="~/Research/ArmWaving">Arm Waving Animation</a>
    </li>
</ul>
