@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="btn big-button">
        <a href="@Url.Action("Schedule", "Scheduler")">
            <div class="big-button-wrapper">
                <div class="big-button-icon">
                    <i class="fa fa-calendar"></i>
                </div>
                <div class="big-button-heading">
                    <span>Calendar</span>
                </div>
                <div class="big-button-description">
                    <p>Check for upcoming sessions.</p>
                </div>
            </div>
        </a>
    </div>
    <div class="btn big-button">
        <a href="@Url.Action("MyClasses", "Scheduler")">
            <div class="big-button-wrapper">
                <div class="big-button-icon">
                    <i class="fa fa-clock-o"></i>
                </div>
                <div class="big-button-heading">
                    <span>My Classes</span>
                </div>
                <div class="big-button-description">
                    <p>Review your booked classes.</p>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="btn big-button">
        <a href="@Url.Action("Index", "Research")">
            <div class="big-button-wrapper">
                <div class="big-button-icon">
                    <i class="fa fa-flask"></i>
                </div>
                <div class="big-button-heading">
                    <span>Research</span>
                </div>
                <div class="big-button-description">
                    <p>Go forth ye boffins!</p>
                </div>
            </div>
        </a>
    </div>
    <div class="btn big-button">
        <a href="@Url.Action("Index", "Manage")">
            <div class="big-button-wrapper">
                <div class="big-button-icon">
                    <i class="fa fa-cog"></i>
                </div>
                <div class="big-button-heading">
                    <span>My Account</span>
                </div>
                <div class="big-button-description">
                    <p>Update your profile name, password, etc.</p>
                </div>
            </div>
        </a>
    </div>
</div>

