
@{
    ViewBag.Title = "Calendar";
}

@section scripts {
 
    <link href='~/Content/fullcalendar/fullcalendar.css' rel='stylesheet' />   
<link href='~/Content/fullcalendar/fullcalendar.print.css' rel='stylesheet' media='print' />
<script src='~/Content/fullcalendar/lib/moment.min.js'></script>
<script src='~/Content/fullcalendar/lib/jquery.min.js'></script>
<script src='~/Content/fullcalendar/fullcalendar.min.js'></script>
<script>

	$(document).ready(function() {

		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,basicWeek,basicDay'
			},
			defaultView: 'agendaWeek',
			editable: false,
			eventLimit: true, // allow "more" link when too many events
			events: '/Scheduler/scheduledClasses',
		});

	});

</script>
    
}

<h2>Calendar</h2>

<div id='calendar'></div>

@if (Request.IsAuthenticated && User.IsInRole("Instructor"))
{
<div>
    @Html.ActionLink("Schedule New Class", "ScheduleClass")
</div>
}
