@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Client Classes";
}


<script src='~/Scripts/angular.js'></script>
<script src="~/Scripts/angular-animate.js"></script>
<div ng-app="schedule" ng-controller="ClientClasses" class="ng-cloak">
    <h2>Client Classes</h2>
    @if (ViewBag.roomKick)
    {
        <div class="alert alert-danger" role="alert">
            <div>You have been kicked from the room because you joined the room twice. Please only enter the room once. </div>
            <!-- <button type="button" class="btn btn-default" data-dismiss="alert" aria-label="Close">OK</button> -->

        </div>
    }
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date and Time</th>
                <th> Duration</th>
                <th> Class </th>
                <th> Instructor</th>
                <th> Spaces </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="animation" ng-repeat="class in classes| object2Array | orderBy:'orderDate'">
                <td>{{class.date}} {{class.time}}</td>
                <td> {{class.duration}}</td>
                <td>{{class.title}}</td>
                <td>{{class.instructor}}</td>
                <td>
                    <div style="width: 80%; margin-right:3px" class="progress pull-left">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="5" ng-class="progressbarColor(class)" ng-style="{ 'width': ( class.attendiesCount / class.maxAttendies * 100) + '%' }">

                        </div>
                    </div>
                    <div class="pull-right">{{ class.attendiesCount}}/{{ class.maxAttendies}}</div>
                </td>
                <td>
                    
                    <button ng-if="class.LoggedInUserAttending == true && class.sessionEnded == false " ng-click="leaveClass(class)" type="button" class="btn btn btn-danger  " style="width: 100px;">Leave Class</button>
                    <span ng-if="class.sessionEnded">Class Has Ended</span>
                    <a ng-if="nearTime(class.date, class.time) && class.sessionEnded == false" class="btn btn btn-success" ng-href="/Room/Room/{{class.id}}">Join Room</a>
                </td>
            </tr>
        </tbody>

    </table>
    <div style="text-align:center">
        <img style="display: block;margin-left: auto; margin-right: auto;" ng-hide="dataLoaded" src="~/Content/Scheduler/ajax-loader.gif" />
        <span ng-show="noData && dataLoaded">No Classes</span>

    </div>

    <br />




</div>



@section scripts {

    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Content/Scheduler/MyClassesCommonFunctions.js"></script>


    <script>


        //signalr connection
        chat = $.connection.scheduleItemHub;
        $.connection.hub.start().done(function () {
            //closing stuff here
        });



        moment.locale('en', {
            calendar: {
                lastDay: '[Yesterday]',
                sameDay: '[Today]',
                nextDay: '[Tomorrow]',
                lastWeek: '[last] dddd [at] LT',
                nextWeek: 'dddd',
                sameElse: 'L'
            }
        });
        var app = angular.module('schedule', ['ngAnimate', 'schedule.commonFunctions']);
        app.filter('object2Array', function () {
            return function (input) {
                var out = [];
                for (i in input) {
                    out.push(input[i]);
                }
                return out;
            }
        })
        app.controller('ClientClasses', function ($scope, $http, commonFunctions) {
            $scope.userId = "@User.Identity.GetUserId()";


            $scope.nearTime = commonFunctions.nearTime;

            $scope.progressbarColor = commonFunctions.progressbarColor;

            //hold a list of all the classes
            $scope.classes = [];
            $scope.classesDataLink = "/Scheduler/ClientsClasses";
            $scope.dataLoaded = false;
            $scope.getData = function () {
            $scope.noData = false;
                $http({
                    url: $scope.classesDataLink,
                    method: "GET"

                }).success(function (response) {
                    $scope.classes = response;
                    $scope.dataLoaded = true;
                    if (Object.keys($scope.classes).length === 0) {
                        $scope.noData = true;
                    }
                    else {
                        $scope.noData = false;
                    }

                });
            }

            $scope.leaveClass = function (classItem) {

                $http(
                    {
                        url: "/Scheduler/classEventLeave",
                        method: "POST",
                        data: { classEvent: classItem }
                    }).success(function (respone) {
                        if (respone.message == "success") {
                            classItem.attendiesCount--;
                            classItem.LoggedInUserAttending = false;
                            chat.server.updateDataServer();
                            $.notify("Class Left", { globalPosition: 'top center', className: "info" });
                        }
                        else {
                
                            $.notify(respone.message, { globalPosition: 'top center', className: "info" });
                        }
                    });

            }



            //on load populate week
            var init = function () {

                //load first days data
                $scope.getData(moment());

                //update the scope everyone minute, this way we can check if time is near
                setInterval(function () {
                    $scope.$apply();
                }, 60000);
            }();

            //signalr functions
            chat.client.updateDataClient = function () {
                $scope.getData(moment());

                

            }


        });






    </script>



}
