@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "InstructorClasses";
}


<script src='~/Scripts/angular.js'></script>
<script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
<script src="~/Scripts/angular-animate.js"></script>


<script type="text/ng-template" id="popover">
    <ul>
        <li>test</li>
        <!-- <li ng-repeat="item in items"><a>{{item.name}}</a></li> -->
    </ul>
</script>


<div ng-app="schedule" ng-controller="instructorClasses" class="ng-cloak">
    <h2>Instructors Classes</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date and Time</th>
                <th> Duration</th>
                <th> Class </th>
                <th> Instructor</th>
                <th> Spaces </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="animation" ng-repeat="class in classes">
                <td>{{class.time}}</td>
                <td> {{class.duration}}</td>
                <td>{{class.title}}</td>
                <td>{{class.instructor}}</td>
                <td>
                    <div uib-popover-template="dynamicPopover.templateUrl"  popover-title="{{dynamicPopover.title}}" popover-placement="right" popover-trigger="mouseenter"  >
       
                        <div style="width: 80%; margin-right:3px" class="progress pull-left">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="5" ng-class="progressbarColor(class)" ng-style="{ 'width': ( class.attendiesCount / class.maxAttendies * 100) + '%' }">

                            </div>
                        </div>
                        <div class="pull-right">{{ class.attendiesCount}}/{{ class.maxAttendies}}</div>
                    </div>

                </td>
                <td>
                    <a class="btn btn btn-success pull-right" ng-href="/Room/InstructorRoom/{{class.id}}">Join Room</a>



                </td>
            </tr>
        </tbody>

    </table>
<div>
    @if (User.IsInRole("Instructor"))
    {
        <button ng-click="createClass(selectedDay)" type="button" class="btn btn-primary">Create A Class</button>
    }
</div>


@if (User.IsInRole("Instructor"))
{
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">



            </div>

        </div>
    </div>
}


</div>


@section scripts {

    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/signalr/hubs"></script>



    <script>


        //signalr connection
        chat = $.connection.scheduleItemHub;
        $.connection.hub.start().done(function () {
            //closing stuff here
        });



        moment.locale('en', {
            calendar: {
                lastDay: '[Yesterday]',
                sameDay: '[Today]',
                nextDay: '[Tomorrow]',
                lastWeek: '[last] dddd [at] LT',
                nextWeek: 'dddd',
                sameElse: 'L'
            }
        });
        var app = angular.module('schedule', ['ngAnimate', 'ui.bootstrap']);
        app.controller('instructorClasses', function ($scope, $http) {
            $scope.dynamicPopover = {
                content: 'Hello, World!',
                templateUrl: '/Content/angularjsTemplates/showUsers.html',
                title: 'Attendies'
            };


            $scope.userId = "@User.Identity.GetUserId()";

            $scope.progressbarColor = function (classItem) {
                if (classItem.attendiesCount / classItem.maxAttendies * 100 <= 50) {
                    return "progress-bar-success";
                }
                else if (classItem.attendiesCount / classItem.maxAttendies * 100 > 50 && classItem.attendiesCount / classItem.maxAttendies * 100 < 80) {
                    return "progress-bar-warning";
                }
                else if (classItem.attendiesCount / classItem.maxAttendies * 100 >= 80) {
                    return "progress-bar-danger";
                }


            }

            //hold a list of all the classes
            $scope.classes = [];
            $scope.classesDataLink = "/Scheduler/InstructorsClasses";

            $scope.getData = function () {
                $http({
                    url: $scope.classesDataLink,
                    method: "GET"

                }).success(function (response) { $scope.classes = response });
            }



            $scope.createClassModal;

            $scope.createClass = function () {
                $.get("/Scheduler/ScheduleClass", function (data) {
                    //had to use jquery here to load the script
                    $(".modal-content").empty();
                    $(".modal-content").html(data);
                    $('#myModal').modal('toggle')
                });

                //pop a modal box




            }




            //on load populate week
            var init = function () {

                //load first days data
                $scope.getData(moment());

            }();

            //signalr functions
            chat.client.updateDataClient = function () {
                $scope.getData(moment());

            }


        });






    </script>



}
