@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Book A Class";
}

<!-- testing ng-animate -->
<style type="text/css">
.animation {
  -webkit-transition: 0.3s;
}

.animation.ng-enter {
  opacity: 0;
}

.animation.ng-leave {
  opacity: 1;
}

.animation.ng-enter.ng-enter-active {
  opacity: 1;
}

.animation.ng-leave.ng-leave-active {
  opacity: 0;
}


</style>

<script src='~/Scripts/angular.js'></script>
<script src="~/Scripts/angular-animate.js"></script>
<script src="~/Scripts/angular-cookies.js"></script>
<div ng-app="schedule" ng-controller="controller" class="ng-cloak">
    <h2>Book A Class</h2>

    <span  style="margin-right:5px;cursor: pointer;" ng-repeat="day in week" class="label animation" ng-class="selected(day)" ng-click="dayPicked(day)">{{day.date.calendar()}}</span>

    <table class="table table-striped">
        <thead>
            <tr>
                <th> Time</th>
                <th> Duration</th>
                <th> Class </th>
                <th> Instructor</th>
                <th> Spaces </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="animation" ng-repeat="class in classes">
                <td>{{class.date}} {{class.time}}</td>
                <td> {{class.duration}}</td>
                <td>{{class.title}}</td>
                <td>{{class.instructor}}</td>
                <td>
                    <div style="width: 80%; margin-right:3px" class="progress pull-left">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="5" ng-class="progressbarColor(class)" ng-style="{ 'width': ( class.attendiesCount / class.maxAttendies * 100) + '%' }">

                        </div>
                    </div>
                    <div class="pull-right">{{ class.attendiesCount}}/{{ class.maxAttendies}}</div>
                </td>
                <td width="300">

                    @if (User.IsInRole("Client"))
                    {
                    <button ng-if="class.LoggedInUserAttending == false && class.sessionEnded == false" ng-disabled="class.attendiesCount == class.maxAttendies" ng-click="bookClass(class)" type="button" class="btn btn-primary pull-right" style="width: 100px;">Book Class</button>
                    }
                    <button ng-if="class.LoggedInUserAttending == true && class.sessionEnded == false" ng-click="leaveClass(class)" type="button" class="btn btn btn-danger " style="width: 100px;">Leave Class</button> <a class="btn btn btn-success " ng-if="class.LoggedInUserAttending == true && nearTime(class.date, class.time) && class.sessionEnded == false" ng-href="/Room/Room/{{class.id}}">Join Room</a>
                    <span ng-if="class.sessionEnded">Class Has Ended</span>
                </td>
            </tr>
        </tbody>

    </table>
    <div style="text-align:center">
        <img  style="display: block;margin-left: auto; margin-right: auto;" ng-hide="dataLoaded"  src="~/Content/Scheduler/ajax-loader.gif" />
        <span ng-show="noData && dataLoaded">No Classes</span>

    </div>

    <br />
    <div>
        @if (User.IsInRole("Instructor"))
        {
            <button ng-click="createClass(selectedDay)" type="button" class="btn btn-primary">Create A Class</button>
        }
    </div>



    @if (User.IsInRole("Instructor"))
    {
    <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">



                </div>

            </div>
        </div>
    }

</div>
@section scripts {

    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/signalr/hubs"></script>
<script src="~/Content/Scheduler/MyClassesCommonFunctions.js"></script>

    
    <script>

       
        //signalr connection
        chat = $.connection.scheduleItemHub;
        $.connection.hub.start().done(function () {
            //closing stuff here
        });


       
        moment.locale('en', {
            calendar: {
                lastDay: '[Yesterday]',
                sameDay: '[Today]',
                nextDay: '[Tomorrow]',
                lastWeek: '[last] dddd [at] LT',
                nextWeek: 'dddd',
                sameElse: 'L'
            }
        });
        var app = angular.module('schedule', ['ngAnimate', 'ngCookies', 'schedule.commonFunctions']);
        app.controller('controller', function ($scope, $http, $cookies, commonFunctions) {
            $scope.userId = "@User.Identity.GetUserId()";
            //hold week days in advance
            $scope.week = [];

            //selected day show a different label
            $scope.selected = function (day) {

                return day.selected == true ? "label-primary" : "label-default";
            }

            $scope.selectedDay;

            $scope.progressbarColor = commonFunctions.progressbarColor;

            //hold a list of all the classes
            $scope.classes = [];
            $scope.classesDataLink = "/Scheduler/scheduledClasses";
            $scope.dataLoaded = false;
            $scope.noData = false;
            $scope.getData = function (date) {
                $scope.dataLoaded = false;
                console.log(date);
                $http({
                    url: $scope.classesDataLink,
                    method: "GET",
                    params: { day: date.date.format("YYYY-MM-DD") }
                }).success(function (response) {
                    $scope.classes = response;
                    $scope.dataLoaded = true;
                    if (Object.keys($scope.classes).length === 0) {
                        $scope.noData = true;
                    }
                    else {
                        $scope.noData = false;
                    }
                    
                });
            }

            var attendClass = function (classEvent) {

                $http(
                    {
                        url: "/Scheduler/classEventJoin",
                        method: "POST",
                        data: { classEvent: classEvent }
                    }).success(function (respone) {
                        if (respone.message == "success") {
                            classEvent.attendiesCount++;
                            classEvent.LoggedInUserAttending = true;
                            $.notify("Class Booked", { globalPosition: 'top center', className: "info" });
                            chat.server.updateDataServer();
                        }
                        else {
                     
                            $.notify(respone.message, { globalPosition: 'top center', className: "info" });
                        }
                    });


            }

            $scope.dayPicked = function (day) {
                //set other days selected to false
                for (var dayX in $scope.week) {

                    $scope.week[dayX].selected = false;
                }
                //set current day to day selected
                day.selected = true;
                $scope.selectedDay = day;
                //set cookie
                console.log(day);
                var expireDate = new Date();
                expireDate.setDate(expireDate.getDate() + 1);
                $cookies.put('day', day.date.format("YYYY-MM-DD"), { expires: expireDate });

                //Load day selected data
                $scope.getData(day);
            }

            //book a class
            $scope.bookClass = function (classItem) {

                //back end stuff
                attendClass(classItem);

            }

            $scope.leaveClass = function (classItem) {

                $http(
                    {
                        url: "/Scheduler/classEventLeave",
                        method: "POST",
                        data: { classEvent: classItem }
                    }).success(function (respone) {
                        if (respone.message == "success") {
                            classItem.attendiesCount--;
                            classItem.LoggedInUserAttending = false;
                            chat.server.updateDataServer();
                            $.notify("Class Left", { globalPosition: 'top center', className: "info" });
                        }
                        else {
                            $.notify(respone.message, { globalPosition: 'top center', className: "info" });
                        }
                    });

            }
            $scope.createClassModal;

            $scope.createClass = function (day) {
                console.log(day);
                $.get("/Scheduler/ScheduleClass", function (data) {
                    //had to use jquery here to load the script
                    $(".modal-content").empty();
                    $(".modal-content").html(data);
                    $('#myModal').modal('toggle')
                });

                //pop a modal box




            }

            $scope.nearTime = commonFunctions.nearTime;




            //on load populate week
            var init = function () {
                var day;
                var cookieDay = $cookies.get("day");
                console.log(cookieDay);
                console.log()
                if (cookieDay != null) {
                    day = moment(cookieDay, "YYYY-MM-DD");
                }
                else {
                    day = moment();
                }
                //check if day is over
                if (day < moment()) {
                    day = moment();
                }
                for (var x = 0; x < 7; x++) {

                    var item = { date: moment().add(x, 'days'), selected: false }
                    if (day.format("YYYY-MM-DD") == item.date.format("YYYY-MM-DD")) {
                        console.log(item);
                        item.selected = true;
                        $scope.selectedDay = item;
                    }
                    $scope.week.push(item);

                }

                //update the scope everyone minute, this way we can check if time is near
                setInterval(function () {
                    $scope.$apply();
                }, 60000);


                //load today
                
                $scope.getData($scope.selectedDay );

            }();

            //signalr functions
            chat.client.updateDataClient = function () {
                //added a timer so the data is on the server when a called is made
                setTimeout(function () {
                    $scope.getData($scope.selectedDay);
                }, 1000);
                
            }


        });






    </script>



}
