
@{
    ViewBag.Title = "Schedule";
}


<script src='~/Scripts/angular.js'></script>
<div ng-app="schedule" ng-controller="controller"  class="ng-cloak">
    <h2>Schedule</h2>

    <span style="margin-right:5px;cursor: pointer;" ng-repeat="day in week"  class="label" ng-class="selected(day)" ng-click="dayPicked(day)">{{day.date.calendar()}}</span>

    <table class="table table-striped">
        <thead>
            <tr>
                <th> Time</th>
                <th> Duration</th>
                <th> Class </th>
                <th> Instructor</th>
                <th> Spaces </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="class in classes">
                <td>{{class.time}}</td>
                <td > {{class.duration}}</td>
                <td>{{class.title}}</td>
                <td>{{class.instructor}}</td>
                <td>{{5 - class.attendiesCount}}</td>
                <td></td>
            </tr>
        </tbody>

    </table>
    <div>
        {{firstName}}
    </div>

</div>



@section scripts {

    <script>
        moment.locale('en', {
            calendar: {
                lastDay: '[Yesterday]',
                sameDay: '[Today]',
                nextDay: '[Tomorrow]',
                lastWeek: '[last] dddd [at] LT',
                nextWeek: 'dddd',
                sameElse: 'L'
            }
        });
        var app = angular.module('schedule', []);
        app.controller('controller', function ($scope, $http) {
            //hold week days in advance
            $scope.week = [];

            //selected day show a different label
            $scope.selected = function (day) {
                return day.selected == true ? "label-primary" : "label-default";
            }

            //hold a list of all the classes
            $scope.classes = [];
            $scope.classesDataLink =  "/Scheduler/scheduledClasses";

            $scope.getData = function (date) {
                $http({
                    url: $scope.classesDataLink,
                    method: "GET",
                    params: { day: date.format("YYYY-MM-DD") }
                }).success(function (response) { $scope.classes = response });
            }

            $scope.dayPicked = function (day) {
                //set other days selected to false
                for (var dayX in $scope.week) {

                    $scope.week[dayX].selected = false;
                }
                //set current day to day selected
                day.selected = true;

                //TODO Load day selected data
                $scope.getData(day.date);
            }





            //on load populate week
            var init = function () {
                for (var x = 0; x < 7; x++) {

                    var item = { date: moment().add(x, 'days'), selected: false }
                    if (x == 0) {
                        item.selected = true;
                    }
                    $scope.week.push(item);

                }

                //load first days data
                $scope.getData(moment());

            }();



        });






</script>


    
}