
@{
    ViewBag.Title = "Schedule";
}

<h2>Schedule</h2>

<span class="label label-primary">Today</span> <span  class="label label-default">Tomorrow</span> <span  class="label label-default">Etc</span>

<table class="table table-striped">
    <thead>
        <tr>
            <th> Time</th>
            <th> Duration</th>
            <th> Class </th>
            <th> Instructor</th>
            <th> Spaces </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> Time</td>
            <td> Duration</td>
            <td> Class </td>
            <td> Instructor</td>
            <td> Spaces </td>
            <td></td>
        </tr>
    </tbody>

</table>

@section scripts {

    <script>



    </script>


    
}